body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

.scroll {
    max-height: 40vh;
    overflow-y: scroll;
}
.scroll2 {
    max-height: 80vh;
    overflow-y: scroll;
}